C 0 0 "OUTA" 0 0 0 0 60 0 L
X "PIN_TEXT" "OUTA" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "-INA" 0 -100 0 0 60 0 L
X "PIN_TEXT" "-INA" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "+INA" 0 -200 0 0 60 0 L
X "PIN_TEXT" "+INA" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "V-" 0 -300 0 0 60 0 L
X "PIN_TEXT" "V-" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 1100 0 "+INB" 1100 0 0 0 60 0 R
X "PIN_TEXT" "+INB" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "-INB" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "-INB" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "OUTB" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "OUTB" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "V+" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "V+" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
L 200 100 900 100 -1 0
L 900 -400 900 100 -1 0
L 900 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

